<section  *ngIf="s1" class="w-75 mx-auto rounded shadow my-3 p-3">
    <form [formGroup]="forgotForm" (ngSubmit)="forgot()" >
    <label  for="email">E-mail</label>
    <input formControlName="email" class="form-control" id="email"  type="text">
    <button class="main-btn w-100 my-3">Send Code</button>
</form>
</section>


<section *ngIf="s2" class="w-75 mx-auto rounded shadow my-3 p-3">
    <form [formGroup]="resetCode" (ngSubmit)="resCode()">
    <label for="code">Enter Code</label>
    <input formControlName="resetCode" class="form-control" id="code" type="text">
    <button class="main-btn w-100 my-3">Send Code</button>
</form>
</section>


<section *ngIf="s3" class="w-75 mx-auto rounded shadow my-3 p-3">
    <form [formGroup]="resetPass" (ngSubmit)="newPass()">
        
    <label for="email">E-mail</label>
    <input formControlName="email" class="form-control" id="email"  type="text">
    <label for="code">New Password</label>
    <input formControlName="newPassword" class="form-control" id="code" type="text">
    <button class="main-btn w-100 my-3">Send Code</button>
</form>
</section>