<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top ">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/"><img src="./assets/images/freshcart-logo.svg" alt="logo"></a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" routerLinkActive="active-link" routerLink="/home" aria-current="page">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLinkActive="active-link" routerLink="/products" aria-current="page">Products </a>
                </li>
        
                <li class="nav-item">
                    <a class="nav-link active" routerLinkActive="active-link" routerLink="/categories" aria-current="page">categories </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLinkActive="active-link" routerLink="/brands" aria-current="page">brands </a>
                </li>
        
           

            </ul>

            <ul class="navbar-nav ms-auto mt-2 mt-lg-0 align-items-center ">
                <li>
                    <h3 class=" text-main">Hi!  {{userName}}</h3>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle " type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user fa-2x text-main"></i> </button>
                        <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton2">
                          <li><a class="dropdown-item " routerLink="/forgotpass">forgot Password</a></li>
                          <li class="nav-item text-center dropdown-item ">
                            <span (click)="signOut()" role="button">Sign Out</span>
                        </li>
                        </ul>
                      </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link active position-relative" routerLink="/cart" aria-current="page">
                        <i class="fas fa-cart-shopping fa-2x text-main"></i> 
                        <span  *ngIf="cartNum>0" class="badge bg-primary position-absolute top-0 end-0">{{cartNum}}</span>

                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link active position-relative" routerLink="/wishlist" aria-current="page">
                        <i class="fas fa-heart fa-2x text-main"></i> 
                        <span *ngIf="wishNum>0" class=" badge bg-danger position-absolute top-0 end-0">{{wishNum}}</span>

                    </a>
                </li>
                <li class="nav-item d-flex gap-2 me-2 align-items-center  ">
  <i class="fab fa-facebook"></i>
<i class="fab fa-instagram"></i>
<i class="fab fa-whatsapp"></i>
<i class="fab fa-linkedin"></i>
                </li>
               
            </ul>
          
        </div>
  </div>
</nav>
