@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
@import 'ngx-toastr/toastr';

$main-color :#0aad0a ;
$light-color: #f0f3f2;
$shadow:rgba(145,158,171,0.2) 0px 2px 4px -1px ,
rgba(145,158,171,0.14) 0px 4px 5px 0px ,
rgba(145,158,171,0.12) 0px 1px 10px 0px ;
$rating-color:#ffc908;
$main-transition:0.8s;
$font-family: "Encode Sans Expanded", sans-serif;

.rating-color{
   color: $rating-color;
   
}
.text-main {
  color: $main-color;
}

.main-btn {
  border: unset;
  cursor: pointer;
  color: #fff !important;
  background-color: $main-color !important;
  padding: 4px 8px;
  transition: background-color $main-transition;
  border-radius: 5px;

  &:hover {
    background-color: #08e208 !important;
  }

  &:disabled {
    background-color: #067a0663 !important;
    color: #ffffff8e !important;
    cursor: not-allowed;
  }
}.active-link{
    background-color: $main-color;
    color: #fff !important;
    border-radius: 5px;
    
}
.main-color{
    color: $main-color ;
}
.bg-main{
  background-color:   $main-color;
}
.product .btn {
    transition: transform 1s,opacity 1s;
    opacity: 0;
    transform: translateY(100%);
}
.product:hover .btn { 
opacity: 1;
transform: translateY(0%);
}
.bg-main-light {
    background-color: $light-color !important;
  }

  body {
    font-family: $font-family;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  
  .details{
position: relative;
    .heart2{
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 100;
      font-size: 75px;
      cursor: pointer;
    }
  }
  .product {
    position: relative;
    padding: 6px 9px;
    border-radius: 5px;
    overflow: hidden;
    
    .heart{
      position: absolute;
      top: -60px;
      right: 10px;
      z-index: 100;
      font-size: 45px;
      cursor: pointer;
      transition: top 0.5s;
    
    
    }
    &:hover {
      box-shadow: $shadow;
      border: solid 1px $main-color;
  
      .add-btn {
        opacity: 1;
        transform: translateY(0%);
      }

      .heart{
        top: 10px;
      }
    }
  }
  .btn-upp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999999;
    width: 50px;
    height: 50px;
border: none;
background-color: $main-color;
border-radius: 25%;
color: #fff;
font-size: 25px;
  }
 